<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_school_root"
              name="School Operations"
              sequence="10"/>

    <menuitem id="menu_school_operations_guru"
              name="Operations Guru"
              parent="menu_school_root"
              sequence="10"/>

    <menuitem id="menu_school_operations_murid"
              name="Operations Murid"
              parent="menu_school_root"
              sequence="10"/>

    <menuitem id="menu_guru"
              name="Guru"
              parent="menu_school_operations_murid"
              sequence="10"/>

    <menuitem id="menu_murid"
              name="Murid"
              parent="menu_school_operations_murid"
              sequence="20"/>
</odoo>
